@model Person

<form asp-action="UpdatePerson" method="post" enctype="multipart/form-data">
    <div class="form-groub mb-3">
        <label>Personel No</label>
        <input type="number" class="form-control" asp-for="Id" readonly />
    </div>
    <div class="form-groub mb-3">
        <label>Personel Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>
    <div class="form-groub mb-3">
        <label>Personel Yaşı</label>
        <input type="number" class="form-control" asp-for="Age" />
    </div>
    <div class="form-groub mb-3">
        <label>Personel Cinsiyet</label>
        <input type="text" class="form-control" asp-for="Gender" />
    </div>
    <div class="form-group mb-3">
        <label for="jpegFile">Resim Yükle</label>
        <input type="file" id="File" asp-for="File" accept=".jpeg,.jpg" />
    </div>
    <div class="form-group">
        <label>Rol Listesi</label>
        <select class="form-control" asp-for="RoleId">
            <option value="">Seçiniz</option>
            @foreach (var role in ViewBag.Roles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Branş Listesi</label>
        <select class="form-control" asp-for="BranchId">
            <option value="">Seçiniz</option>
            @foreach (var branch in ViewBag.Branches)
            {
                <option value="@branch.Id">@branch.Name</option>
            }
        </select>
    </div>
    <br />
    <div class="d-grid gap-2 my-3">
        <button class="btn btn-success" type="submit">Ekle</button>
    </div>
</form>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}